<div ng-if="hasToken">
    <ul class="list-group col-md-6">
        <li ng-repeat="org in organisations"
            class="list-group-item"
            ng-class="{'list-group-item-warning': org===selectedOrganisation}"
            ng-click="selectOrganisation(org)">
            <img src="{{ org.avatar_url }}" width=32 height=32> {{ org.login }}
        </li>
    </ul>
    <div ng-if="selectedOrganisation" class="col-md-6">
        <h4>Repos for {{ selectedOrganisation.login }}</h4>
        <ul class="list-unstyled col-md-4">
            <li ng-repeat="repo in repos">
                {{ repo.name }}
            </li>
        </ul>
    </div>
</div>

<div ng-if="!hasToken">
    <a href="/providers/github/oauth-start/" class="btn btn-primary">Assimilate Github account</a>
</div>
