<p ng-if="hasToken === null">
    Loading...
</p>

<div ng-if="hasToken === false">
    <p>You still haven't authorised ployst to access your Github account.</p>
    <a href="/providers/github/oauth-start/" class="btn btn-primary">Assimilate Github account</a>
</div>


<div ng-if="hasToken">
    <ul class="list-group col-md-6">
        <li ng-repeat="org in organisations"
            class="list-group-item"
            ng-class="{'list-group-item-warning': org===selectedOrganisation}"
            ng-click="selectOrganisation(org)">
            <img src="{{ org.avatar_url }}" width=32 height=32> {{ org.login }}
        </li>
    </ul>
    <div ng-if="selectedOrganisation" class="col-md-6">
        <h4>Repos for {{ selectedOrganisation.login }}</h4>
        <ul class="list-unstyled" ng-show="repos.length">
            <li ng-repeat="repo in repos">
                {{ repo.name }}
                <i ng-if="repo.fork" class="fa fa-fw fa-code-fork"></i>
            </li>
        </ul>
        <p class="alert alert-info" ng-show="repos.length === 0">No repos found.</p>
        <p ng-show="!repos">Loading...</p>
    </div>
</div>
