<div ng-if="hasToken">
    <ul class="list-group col-md-8">
        <li ng-repeat="org in organisations" class="list-group-item" ng-class="{'list-group-item-warning': org.selected}">
            <img src="{{ org.avatar_url }}" width=32 height=32> {{ org.login }}
        </li>
    </ul>
    <ul class="list-unstyled col-md-4">
        <li ng-repeat="repo in myRepos">
            {{ repo.name }}
        </li>
    </ul>
</div>

<div ng-if="!hasToken">
    <a href="/providers/github/oauth-start/" class="btn btn-primary">Assimilate Github account</a>
</div>
