<aside class="sidebar" ng-class="{collapsed: collapsed==='true'}">
    <header>
        <h1><span class="reveal">[ployst]</span>
            <span class="pull-right">
                <a href="/auth/logout/" title="Log out"><i class="fa fa-fw fa-sign-out"></i></a>
            </span>
        </h1>
        <p class="reveal"><small>hi</small>&nbsp;{{ user.username }}</p>
    </header>
    <ul>
        <li ng-class="{active: menu==='profile'}">
            <a href="#/profile"><i class="fa fa-fw fa-user"></i><span class="reveal"> Profile</span></a>
        </li>
        <li ng-class="{active: menu==='teams'}">
            <a href="#/teams"><i class="fa fa-fw fa-group"></i><span class="reveal"> Teams</span></a>
        </li>
        <li ng-class="{active: menu==='providers'}">
            <a href="#/providers"><i class="fa fa-fw fa-gears"></i><span class="reveal"> Providers</span></a>
        </li>
        <li class="sidebar-divider"></li>
        <li>
            {{ menuCollapsed }}
        </li>
    </ul>
</aside>

