<aside class="sidebar sidebar-inner">
    <header>
        <h1>My Projects</h1>
    </header>
    <ul>
        <li ng-repeat="p in projects" ng-class="{active: p===project}">
            <a ng-click="selectProject(p)">
                <i class="fa fa-fw fa-folder"></i> {{ p.name }}
            </a>
        </li>
    </ul>
    <footer>Create a Project:
        <input ng-model="newProject.name" name="name" placeholder="name..."></input>
        <i ng-click="createProject(newProject)"
            class="fa fa-fw fa-lg fa-plus-square icon-clickable"
            title="Create Project"></i>
    </footer>
</aside>

