<h3><i class="fa fa-group"></i> Your Teams and Projects</h3>

<div ng-repeat="team in teams" class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fa fa-group"></i> {{ team.name }}</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <h4><i class="fa fa-user"></i> Users</h4>
            <ul>
                <li ng-repeat="user in team.users" class="list-unstyled">
                    <kbd>{{ user.username }}</kbd>
                    <i class="fa fa-star" ng-if="user.isManager"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-folder"></i> Projects</h4>
            <ul>
                <li ng-repeat="project in team.projects" class="list-unstyled">
                    <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

