# Untracked file types
*.orig
*.pyc
*.sqlite3

# untracked files and directories
tags
.ropeproject/
/assets/lib
/node_modules/
github-hook*.json

# Editors and IDEs
.project
*~
*.sw[op]

# Build byproducts
.coverage
.tox
/cover
/coverage
/docs/build
/ployst.egg-info
/static
/.tox/

# Some OSX specific thing
*.DS_Store

ployst/github/test/data/
