# Untracked file types
*.orig
*.pyc
*.swp
*.sqlite3

# untracked files and directories
tags
.ropeproject/
/assets/lib
/node_modules/

# This may be a sublime thing
.project

# Build byproducts
.coverage
.tox
/cover
/coverage
/docs/build
/ployst.egg-info
/static

# Some OSX specific thing
*.DS_Store
/.tox/
