# Untracked file types
*.pyc
*.swp
*.sqlite3

# untracked files and directories
tags
.ropeproject/
/assets/lib

# This may be a sublime thing
.project

# Build byproducts
docs/build
/static

# Some OSX specific thing
*.DS_Store

