<ul class="nav nav-pills nav-stacked">
    <li>
        <p>
        Create a Project:
        <input ng-model="newProject.name" name="name" placeholder="name..."></input>
        <i ng-click="ps.createProject(newProject)"
            class="fa fa-fw fa-lg fa-plus-square icon-clickable"
            title="Create Project"></i>
        </p>
    </li>
    <li ng-repeat="p in ps.projects" ng-class="{active: p===ps.project}">
        <a ui-sref="projects({project:p.name})">
            <i class="fa fa-fw fa-folder"></i> {{ p.name }}
        </a>
    </li>
</ul>
