<h2><i class="fa fa-folder"></i> Project {{ ps.project.name }}
    <div class="btn-group pull-right">
        <button ng-if="ps.project.am_manager"
                ng-click="deleteProject(ps.project)"
                type="button" class="btn btn-small btn-danger">
            Delete
        </button>
    </div>
</h2>


<ul class="nav nav-tabs">
    <li ng-class="{active:tab=== 'activity'}">
        <a href ng-click="tab = 'activity'">
            <i class="fa fa-rss"></i> Activity
        </a>
    </li>
    <li ng-class="{active:tab==='repos'}">
        <a href ng-click="tab = 'repos'">
            <i class="fa fa-code-fork"></i> Repositories
        </a>
    </li>
    <li ng-class="{active:tab=== 'users'}">
        <a href ng-click="tab = 'users'">
            <i class="fa fa-user"></i> Users
        </a>
    </li>
</ul>


<div ng-if="tab == 'activity'">
    <project-activity project="ps.project"></project-activity>
</div>

<div ng-if="tab == 'users'">
    <project-users project="ps.project"></project-users>
</div>

<div ng-if="tab == 'repos'">
    <github-config project="ps.project"></github-config>
</div>
