<h2><i class="fa fa-folder"></i> Project {{ ps.project.name }}
    <div class="btn-group pull-right">
        <button ng-if="ps.project.am_manager"
                ng-click="deleteProject(ps.project)"
                type="button" class="btn btn-small btn-danger">
            Delete
        </button>
    </div>
</h2>


<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref=".repos">
            <i class="fa fa-code-fork"></i> Repositories
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref=".users">
            <i class="fa fa-user"></i> Users
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref=".activity">
            <i class="fa fa-rss"></i> Activity
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref=".issues">
            <i class="fa fa-exclamation-circle"></i> Issues
        </a>
    </li>
</ul>


<div ui-view></div>
