{% extends "base-angular.html" %}

{% block content %}
<div ng-app="ployst">
    <aside class="sidebar">
        <header>
            <h1>[ployst]</h1>
            <p><small>hi</small>&nbsp;{{ user }}</p>
        </header>
        <ul>
            <li>
                <a href="#/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="#/teams"><i class="fa fa-fw fa-group"></i> Teams and Projects</a>
            </li>
            <li>
                <a href="#/providers"><i class="fa fa-fw fa-gears"></i> Providers</a>
            </li>
            <li class="sidebar-divider"></li>
            <li>
                <a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
            </li>
        </ul>
        <footer>
            <p><small>&copy; 2013-2014<br>Alex Couper &amp; Carles Barrob&eacute;s</small></p>
        </footer>
    </aside>
    <div class="sidebar-rest">
        <div ng-view ng-cloak>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/ployst.ui.admin.js"></script>
<script src="{{ STATIC_URL }}js/ployst.ui.admin-ng.js"></script>
{% endblock %}
