{% extends "base-angular.html" %}

{% block content %}
<div ng-app="ployst" id="app">
    <div ng-view ng-cloak>
    </div>
</div>
{% endblock %}

{% block page_footer %}
{{ block.super }}
<script src="{{ STATIC_URL }}app.js"></script>
<script src="{{ STATIC_URL }}profile/ployst.profile.js"></script>
<script src="{{ STATIC_URL }}projects/ployst.projects.js"></script>
<script src="{{ STATIC_URL }}providers/ployst.providers.js"></script>
<script src="{{ STATIC_URL }}repos/ployst.repos.js"></script>
<script src="{{ STATIC_URL }}github/github-app.js"></script>
{% endblock %}
