{% extends "base-angular.html" %}

{% block content %}
<div class="container-fluid" ng-app="ployst">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#/profile">Profile</a>
                </li>
                <!--li>
                    <a href="#/teams">Teams</a>
                </li>
                <li>
                    <a href="#/providers">Providers</a>
                </li-->
            </ul>
        </div>
        <div class="col-sm-9 col-md-9" ng-view>
        </div>
    </div>
</div>
{% endblock %}

{% block extrafoot %}
{{ block.super }}
<script src="/static/js/ployst.ui.admin.js"></script>
<script src="/static/js/ployst.ui.ng.js"></script>
{% endblock %}
