{% extends "base-angular.html" %}

{% block ng %}ng-app="ployst" id="app"{% endblock %}

{% block page_header %}
<header id="header">
    <navbar></navbar>
</header>
{% endblock %}

{% block content %}
<div ui-view ng-cloak id="content">
</div>
{% endblock %}

{% block page_footer %}
{{ block.super }}
<script src="{{ STATIC_URL }}app.js"></script>
<script src="{{ STATIC_URL }}navbar/ployst.navbar.js"></script>
<script src="{{ STATIC_URL }}profile/ployst.profile.js"></script>
<script src="{{ STATIC_URL }}projects/ployst.projects.js"></script>
<script src="{{ STATIC_URL }}repos/ployst.repos.js"></script>
<script src="{{ STATIC_URL }}github/github-app.js"></script>
{% endblock %}
