// configuration
@import "fonts.less";
@import "variables.less";

// bootstrap and 3rd party components
@import "bootstrap.less";

// ployst components
@import "actionable-list.less";
@import "sidebar.less";


@footer-height: 120px;
@nav-height: 50px;


// Custom Site-wide styles

html,
body,
#content {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
body {
    padding-top: @nav-height;
}


h5 {
    font-weight: bold;
}

.navbar-brand {
    font-family: @brand-font;
    color: @brand-color;
    font-size: 24px;
    text-transform: lowercase;
    padding: 8px 15px 12px;
}

.nav-tabs {
    margin-bottom: 12px;
}

/* Marketing page ---------------------------------------------------- */

#marketing {
    max-width: 960px;
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by its height */
    margin: 0 auto -@footer-height;
    padding-top: @nav-height;

    .marketing-hero {
        article {
            background-color: darken(@discrete-background, 5%);
            margin-bottom: 0;
            padding: 32px;
        }
        blockquote {
            border-color: darken(@discrete-background, 50%);
            color: @gray-dark;
        }
    }

    .marketing-detail {
        article {
            background-color: @white;
            border-color: darken(@discrete-background, 5%);
            border-style: solid;
            border-width: 16px;
            min-height: 210px !important;
        }
    }
}

/* Set the fixed height of the footer here */
#footer {
    height: @footer-height;
    background-color: @gray-dark;
    border-top: 4px solid @gray;
    color: @white;
    padding-top: 30px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* end sticky footer */

/* Admin page -------------------------------------------------------- */

.icon-clickable {
    cursor: pointer;
}
