<!doctype html>
<html lang="en">  <!-- ng-app="ployst" -->
{% load compress %}

    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeployStream {% block extratitle %}{% endblock %}</title>

        {% compress css %}
        {% block less %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less" />
        {% endblock %}
        {% block css %}{% endblock %}
        {% endcompress %}

        <!-- pre-compressed -->
        <link href="{{ STATIC_URL }}lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <!-- link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" -->

        <!-- JS required by Bootstrap { -->
        <!-- script src="//code.jquery.com/jquery.min.js"></script -->
        <script src="{{ STATIC_URL }}lib/jquery/dist/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- } -->

        {% block extrahead %}{% endblock %}
    {% endblock %}
    </head>

    <body>
        <div id="wrap">
            <header id="header">
            {% include 'navbar.html' %}
            </header>

            {# Main area where angular views will display #}
            <section id="content" class="container-fluid">
                {% block content %}{% endblock %}
            </section>
        </div>
        <footer id="footer" class="container-fluid">
            <div class="container-fluid">
            <p>Produced by <a href="http://github.com/pretenders/">Pretenders</a>.</p>
            <p><small>&copy; 2013-2014 Alex Couper and Carles Barrob&eacute;s.</small></p>
            </div>
        </footer>

        {% block extrafoot %}{% endblock %}
    </body>

</html>
