<!doctype html>
<html lang="en">  <!-- ng-app="ployst" -->
{% load compress %}

    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ployst {% block extratitle %}{% endblock %}</title>

        {% compress css %}
        {% block less %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less" />
        {% endblock %}
        {% block css %}{% endblock %}
        {% endcompress %}

        <!-- pre-compressed -->
        <link href="{{ STATIC_URL }}lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <!-- link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" -->

        <!-- JS required by Bootstrap { -->
        <!-- script src="//code.jquery.com/jquery.min.js"></script -->
        <script src="{{ STATIC_URL }}lib/jquery/dist/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- } -->

        {% block extrahead %}{% endblock %}
    {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        <div id="wrap">
            {% block page_header %}{% endblock %}

            {# Main area where angular views will display #}
            {% block content %}{% endblock %}
        </div>
        {% block page_footer %}{% endblock %}
    </body>

</html>
