{% extends "base.html" %}

{% block extrahead %}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none;
    }
</style>
{% endblock %}

{% block extrafoot %}
<script src="/static/lib/angular/angular.min.js"></script>
<script src="/static/lib/angular-resource/angular-resource.min.js"></script>
<script src="/static/lib/angular-route/angular-route.min.js"></script>
<script src="/static/lib/angular-cookies/angular-cookies.min.js"></script>
{% endblock %}

{% block ng_attrs %} ng-view{% endblock %}
