<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'ui:home' %}">[Ployst]</a>
        </div>
        <div class="navbar-collapse collapse">
            <!-- ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/features">Features</a>
                </li>
            </ul -->
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_anonymous %}
                <li class="dropdown">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> {{ user }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'ui:home' %}#/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                    {# only display login form if there isn't already a form in the page #}
                    {% if not form %}
                    <li>
                        <form class="navbar-form" role="form" method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
