{% extends "registration/base_panel.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}
{% block panel_heading %}{% trans "Set your new password" %}{% endblock %}

{% block panel_body %}

    {% if validlink %}
        <form method="POST" action="">
            <fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </fieldset>
        </form>

    {% else %}

        <p>
            {% trans "The password reset link was invalid, possibly because it has already been used." %}
            <a href="{% url "password_reset" %}">{% trans "Please request a new password reset." %}</a>
        </p>
    {% endif %}

{% endblock %}

