<p ng-if="hasToken === null">
    Loading...
</p>

<div ng-if="hasToken === false">
    <p>You still haven't authorised ployst to access your Github account.</p>
    <a href="/github/oauth-start" class="btn btn-primary">Assimilate Github account</a>
</div>


<div ng-if="hasToken">
    <h4><i class="fa fa-code-fork"></i> Repositories</h4>
    <div class="panel panel-default col-md-3">
        <h5>Your Organisations</h5>
        <ul class="list-unstyled actionable-list">
            <li ng-show="!organisations">Loading...</li>
            <li ng-repeat="org in organisations"
                ng-class="{'list-group-item-warning': org===selectedOrganisation}"
                ng-click="selectOrganisation(org)">
                <img ng-src="{{ org.avatar_url }}" width=24 height=24>
                {{ org.login }}
                <span class="pull-right badge">{{ org.trackedRepos }}</span>
            </li>
        </ul>
    </div>
    <div ng-if="selectedOrganisation" class="col-md-9">
        <p ng-show="!repos">Loading...</p>
        <p class="alert alert-info" ng-show="repos.length === 0">No repos found.</p>
        <ul class="list-group actionable-list" ng-show="repos.length">
            <li ng-repeat="repo in repos"
                class="list-group-item">
                <span title="{{ repo.description }}">{{ repo.name }}</span>
                <i ng-if="repo.fork" class="fa fa-fw fa-code-fork"></i>
                <span class="pull-right">
                    <a class="hover-options" href="{{ repo.html_url }}" target="_blank"><i class="fa fa-fw fa-github-alt"></i> github</a>
                    <a ng-if="repo.tracked"><i class="fa fa-fw fa-check"></i></a>
                    <a ng-if="!repo.tracked" class="hover-options"><i class="fa fa-fw fa-plus"></i></a>
                </span>
            </li>
        </ul>
    </div>
</div>
